{{- with .Mirrors -}}
[plugins."io.containerd.grpc.v1.cri".registry.mirrors]
  {{- range $registry, $mirror := . -}}
    {{- with $mirror.Endpoints }}
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors.{{ printf "%q" $registry }}]
    endpoint = [ {{ range . }}{{ printf "%q, " . }}{{ end }}]
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $regName, $config := .Configs -}}
  {{- with $config.TLS -}}
    {{- if or .CAFile .ClientCertFile .ClientKeyFile .InsecureSkipVerify }}
[plugins."io.containerd.grpc.v1.cri".registry.configs.{{ printf "%q" $regName }}.tls]
{{- with .CAFile }}
  ca_file = {{ printf "%q" . }}{{- end -}}
{{- with .ClientCertFile }}
  cert_file = {{ printf "%q" . }}{{- end }}
{{- with .ClientKeyFile }}
  key_file = {{ printf "%q" . }}{{- end }}
{{- with .InsecureSkipVerify }}
  insecure_skip_verify = {{ . }}{{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $regName, $config := .Configs -}}
  {{- with $config.Authentication -}}
    {{- if and .Username .Password }}
[plugins."io.containerd.grpc.v1.cri".registry.configs.{{ printf "%q" $regName }}.auth]
  username = {{ printf "%q" .Username }}
  password = {{ printf "%q" .Password }}
    {{- end -}}
  {{- end -}}
{{- end -}}
